.modal {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 100ms ease-in 0s 1 forwards;
  &_body {
    border-radius: 8px;
    min-height: 400px;
    min-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
}

@keyframes fadeIn {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
