$primary: #47baab;
$primary-hover: #1b7f63;
$primary-active: #1b7f63;
$secondary: #54595f;
$secondary-hover: #54595f;
$secondary-active: #54595f;
$success: #47baab;
$success-hover: #47baab;
$success-active: #47baab;
$info: #54595f;
$info-hover: #54595f;
$info-active: #54595f;
$warning: #ffb236;
$warning-hover: #ffb236;
$warning-active: #ffb236;
